.menu-icon {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.navigation {
  display: block;
  @media (max-width: 767px) {
    display: none;
  }

  &.active {
    @media (max-width: 767px) {
      display: block;
    }
  }
}
