/* partners start  */

.partner {
  background-color: $lightGreen;

  .partner-list { 
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 55px 0;
  }
}
/* sponsers or partners end */
/* -------- */
