.primary-button {
  display: block;
  color: var(--lightGreen);
  background-color: var(--lightYellow);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 25px;
  font-family: "Rubik", sans-serif;
}
