* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightYellow: rgba(237, 255, 129, 0.45);
  --Yellow: rgba(152, 170, 40, 1);
  --lightGreen: rgba(247, 252, 250, 1);
  --white: rgba(255, 255, 255, 1);
  --lightBlack: #78847d;
  --lightGreenCorner: #e1ece8;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* styling of top banner */
.top-banner {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
  position: relative;
}
header .page-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
header .nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
}

.navigation .nav-list .nav-list-item a {
  display: block;
  color: rgba(247, 252, 250, 1);
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

header h2 {
  text-align: center;
  color: var(--white);
  text-transform: capitalize;
}
.top-banner .service p {
  color: var(--white);
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 70px;
}

.actions-container .secondary-btn {
  color: var(--lightGreen);
  background-color: var(--lightYellow);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 25px;
  border-radius: 30px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.02em;

  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.top-banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
}
.content .display-content h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  opacity: 0.8;
}
.content .display-content h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 107px;
  /* identical to box height */

  letter-spacing: 0.04em;
}

/* partners start  */
.partner {
  background-color: var(--lightGreen);
}

.partner-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 55px 0;
}
/* sponsers or partners end */
/* -------- */
/* full-stack-structure start */

.full-stack-structure .container {
  display: flex;
  padding-top: 100px;
}

main .full-stack-structure .sub-headings .first-block {
  display: flex;
  flex-wrap: wrap;
}

main .full-stack-structure .sub-headings .first-block > * {
  width: 50%;
}

main .full-stack-structure .sub-headings .second-block {
  display: flex;
}

main .main-heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 65px;
  letter-spacing: 0.02em;
  padding-top: 90px;
  padding-bottom: 30px;
}
main .claims {
  padding-bottom: 60px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: var(--lightBlack);
}

/* main .primary-button {
  background-color: var(--lightGreen);
} */

main .more-info ul li a {
  color: var(--Yellow);
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  max-width: 20%;
}

main .more-info ul {
  list-style-type: none;
}
main .more-info ul li::after {
  content: url(../images/Arrow\ -\ Right.png);
  padding-left: 20px;
  max-width: 20%;
}

.full-stack-structure .sub-headings {
  padding-top: 190px;
}

main .first-child-heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-left: 100px;
}
main .first-heading-info {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding-top: 25px;
  min-width: 225px;
}
main .second-child-heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-left: 90px;
}
main .second-heading-info {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding-top: 25px;
}
main .third-child-heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-left: 100px;
  padding-top: 170px;
}
main .third-heading-info {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding-top: 25px;
  min-width: 225px;
}
main .fourth-child-heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-left: 90px;
  padding-top: 170px;
}
main .fourth-heading-info {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding-top: 25px;
}

/* full-stack-structure end */

/* ------ */

/* increase bussiness */

main .increase-bussiness {
  padding-top: 140px;
  padding-bottom: 180px;
}
main .increase-bussiness .markerting-content {
  display: flex;
}

main .increase-bussiness .adds-service .service-block {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: 0.02em;
  padding-bottom: 30px;
  padding-left: 15px;
}
main .increase-bussiness .adds-service {
  padding-left: 85px;
}
main .increase-bussiness .adds-service .service-content {
  font-family: "Rubik";
  font-style: normal;
  color: var(--lightBlack);
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  padding-bottom: 80px;
  padding-left: 15px;
}

.actions-container .temporary-btn {
  padding: 30px 60px;
  color: rgb(255 255 255);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  background-color: var(--Yellow);
  border-radius: 30px;
  text-transform: capitalize;
}

/* .adds-service end  */

/* ----  */

/* help-block start */

main .help {
  background-color: var(--lightGreenCorner);
}

main .help .help-heading .head h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 65px;
  letter-spacing: 0.02em;
  /* padding-left: 480px; */
  padding-top: 100px;
}
.help .help-heading .description p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* padding-left: 575px; */
  padding-top: 30px;
  padding-bottom: 50px;
  color: var(--lightBlack);
}
main .help .help-heading .head h1,
p {
  text-align: center;
}

/* help block start  */

main .help .help-block {
  display: flex;
  padding-bottom: 20px;
}

main .help .help-block .container ul {
  display: flex;
  gap: 200px;
  list-style-type: none;
}

/* footer started */

footer .page-footer {
  padding-top: 150px;
}

footer .page-footer .footer-blocks .lists {
  display: flex;
}

footer .page-footer .footer-blocks .block-one img {
  background-color: darkgreen;
}
footer ul {
  list-style-type: none;
}

footer .block-one {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.01em;
  max-width: 35%;
}

footer .block-two {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 34px;
  padding-right: 30px;
}

footer .block-three {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 34px;
  padding-right: 30px;
}

footer .block-four {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 34px;
}

.copy-right {
  text-align: center;
  border-top: 1px solid var(--lightBlack);
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 50px;
}
